<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MemeMe.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F4E9F6571FA3A6ED00622F01</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F4E9F66B1FA3A6EF00622F01</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F4E9F6761FA3A6EF00622F01</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
